<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>header</title>
<style>
	#header{
		margin-bottom: 10px;
		width: 100%;
		height: auto;	
	}
</style>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "css/button.css" %}" media="screen">
</head>
<body>
	<br>
	{{ STATIC_URL }}
	<div id="header">
		<a href="/">
			<div class="button green">
				<div class="shine"></div>
				个人信息
			</div>
		</a>
		<a href="/exam">
			<div class="button blue">
				<div class="shine"></div>
				重新测试
			</div>
		</a>
		<a href="/match">
			<div class="button purple">
				<div class="shine"></div>
				匹配队伍
			</div>
		</a>
		<a href="/logout">
			<div class="button gray">
				<div class="shine"></div>
				退出
			</div>
		</a>
	</div>
</body>
</html>