<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>BelBin Exam</title>
</head>
<body>
	{% include "header.html" %}
	{{ stu.s_id }}<br>
	{{ stu.s_name }}<br>
	{{ stu.s_phone }}<br>
	{{ stu.s_email }}<br>
	{{ stu.s_wechat }}<br>
	{% if stu.s_characters == 'null' %}
		<a href="/exam">请完善性格测试</a>
	{% else %}
		{{ stu.s_characters }}
	{% endif %}
</body>
</html>